/* CSS Style Sheet for www.echidnastudio.com.au by Carsena Web Tech November 2014 */
/* All code copyright Echidna Studio Christmas Hills Victoria Australia */
/* BEGIN GLOBAL definitions */

body
{
/* background-color: #000000; */
}

html { 
  background: url(images/background-recording.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* NOTE... font sizes 20px=14.5pt 19px=14pt 18px=13.5pt 17px=13pt 16px=12pt 15px=11pt 14px=10.5pt 13px=10pt 12px=9pt 11px=8pt */

/* Top of page heading only no use H tags */
.topheading
{
font-family: Tahoma,Geneva,sans-serif;
font-smoothing: antialiased;
font-weight: bold;
text-align: left;
color:#FFFFFF;
font-size: 24px; 
background:transparent;
margin: 20px 0px 0px 0px;
text-shadow:2px 2px 9px #000000;
}


a:link
{
color: #FFFFFF;
text-decoration: none;
}
a:visited
{
color: #FFFFFF;
text-decoration: none;
}
a:hover
{
color: #FFDE00;
text-decoration: none;
}
a:active
{
color: #FFFFFF;
text-decoration: none;
}
h1
{
font-family: Tahoma,Geneva,sans-serif;
font-smoothing: antialiased;
font-weight: bold;
text-align: left;
color:#FFFFFF;
font-size: 16px; 
background:transparent;
margin: 0px 0px 8px 30px;
text-shadow:2px 2px 9px #000000;
}
h2
{
font-family: Tahoma,Geneva,sans-serif;
font-smoothing: antialiased;
font-weight: bold;
text-align: left;
color:#FFFFFF;
font-size: 14px; /* 18pt */
background:transparent;
margin: 12px 28px 12px 28px;
/* text-shadow:2px 2px 9px #2A2927; */
}
h3
{
/* Styled For  */
font-family: Tahoma,Geneva,sans-serif;
font-weight: bold;
text-align: left;
color:#FFFFFF;
font-size: 16px;
background:transparent;
margin: 12px 0px 12px 28px;
/* text-shadow:2px 2px 9px #2A2927; */
}
h4
{
/* Styled For  */
font-family: Tahoma,Geneva,sans-serif;
font-weight: normal;
color:#C0C0C0;
text-align: left;
font-size: 18px; 
background:transparent;
margin: 0px 0px 0px 0px;
}
h5
{
font-family: Tahoma,Geneva,sans-serif;
font-weight: normal;
color:#C0C0C0;
font-size:16px;
text-align: left;
background:transparent;
margin: 0px 0px 8px 0px;
}
h6
{
font-family: Tahoma,Geneva,sans-serif;
font-weight: bold;
font-style: italic;
color:#C0C0C0;
font-size: 14px; 
text-align: left;
background:transparent;
margin: 14px 0px 14px 0px;
}

#outercontainer
{
/* Move along now, nothing to see here */
}


/* main inner container table defs */
#innercontainer
{
border: 0px solid #000000;
border-collapse: separate;
border-left: 0;
border-spacing: 0px;
float: center; 
width: 980;
margin: 28px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}



/* top of page horizontal navigation */
#topnav 
{
background-color: #6B6B6B;
background-repeat: no-repeat;
border-collapse: separate;
border: 1px solid #ffffff;
border-spacing: 0px;
border-radius: 30px 30px 0px 0px;
float: center;
width: 976px;
height: 60px;
margin: 0px 0px 32px 0px;
padding: 0px 0px 0px 0px;
text-decoration: none;
}
#topnav p
{
color: #FFFFFF;
margin: 8px 0px 0px 18px;
text-shadow: 1px 1px #2A2927;
text-align: left;
padding: 0px 0px 0px 0px;
}
#topnav a
{
color: #ffffff;
text-decoration: none;
font-size: 14px;
font-family: Tahoma,Geneva,sans-serif;
font-weight: normal;
text-shadow: 1px 1px #000000;
}
#topnav a:hover
{
color: #FFDE00;
text-decoration: none;
font-size: 14px;
font-family: Tahoma,Geneva,sans-serif;
font-weight: normal;
text-shadow:1px 1px #000000;
}
#topnav a:visited
{
/* color: #ffffff; */
text-decoration: none;
font-size: 14px;
font-family: Tahoma,Geneva,sans-serif;
font-weight: normal;
text-shadow:1px 1px #000000;
}

#topnav ul
{
list-style-type: none;
margin: 0;
padding: 12px 8px 4px 2px;
}

#topnav li
{
display: inline;
padding: 8;
}

.logoimage
{
padding: 0px 0px 12px 0px;
float: left;
align: left;
height: 114px;
width: auto;
}

.genimg
{
margin: 0px 12px 6px 0px;
}

.mapimage
{
margin: 0px 0px 0px 0px;
width: 900px;
height: auto;
align: center;
}

#bodyarea
{
background-color: #9B9086;
font-family: Tahoma,Geneva,sans-serif;
font-weight: bold;
color:#ffffff;
text-align: center;
border: 1px solid #ffffff;
border-collapse: separate;
border-spacing: 0px;
border-radius: 0px 0px 0px 0px;
float: center; 
width: 976px;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}
#bodyarea p
{
font-family: Tahoma,Geneva,sans-serif;
color: #ffffff;
font-size: 12px; /* 14pt */
font-weight: normal;
font-color: #000000;
text-align: left;
text-decoration: none;
background:transparent;
margin: 0px 12px 12px 28px;
padding: 0px 0px 0px 0px;
}

#bodyarea img
{
padding: 0px 12px 0px 0px;
}

#bodytable
{
}

ul
{
 list-style-type: circle;
 list-style-position: outside;
 list-style-image: none;
 font-family: Tahoma,Geneva,sans-serif;
 color: #ffffff;
 font-size: 14px;
 font-weight: normal;
 font-color: #000000;
 text-align: left;
 text-decoration: none;
}


#musicframelarge
{
height: 250px;
width: 918px;
}
#musicframesmall
{
height: 250px;
width: 918px;
}
#youtubeframe
{
height: 480px;
width: 918px;
margin: 0px 0px 0px 28px;
}



#footer
{
background-color: #6B6B6B;
border-collapse: separate;
border: 1px solid #ffffff;
border-spacing: 0px;
border-radius: 0px 0px 30px 30px;
float: center; 
align: center;
width: 976px;
height: 64px;
margin: 32px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

#footer p
{
color: #FFFFFF;
text-decoration: none;
font-size: 12px;
font-family: Tahoma,Geneva,sans-serif;
font-weight: normal;
padding: 0px 12px 12px 0px;
margin: 0px 0px 0px 0px;
}

#footer img
{
height: 60px;
width: auto;
}

.tinytext
{
color: #ffffff;
padding: 10px 10px 10px 10px;
text-decoration: none;
font-size: 9px;
font-family: Tahoma,Geneva,sans-serif;
font-weight: normal;
}

/* shadow effect for selected images */
.shadowimage
{
margin: 0px 8px 0px 0px;
box-shadow:1px 1px 9px #2A2927;

}

.normalimage
{
margin: 8px 0px 22px 0px;
}

.colourbar
{
height: 8px;
width: 490px;
}




.multiColumnStyle{
	 -moz-column-count:3;
	 -moz-column-gap:52px;
	 -moz-column-rule-width:2px;
	 -moz-column-rule-color:#CCCCCC;
	 -moz-column-rule-style:dashed;
	 -webkit-column-count:3;
	 -webkit-column-gap:52px;
	 -webkit-column-rule-width:2px;
	 -webkit-column-rule-color:#CCCCCC;
	 -webkit-column-rule-style:dashed;
	 -o-column-count:3;
	 -o-column-gap:52px;
	 -o-column-rule-width:2px;
	 -o-column-rule-color:#CCCCCC;
	 -o-column-rule-style:dashed;
	 column-count:3;
	 column-gap:52px;
	 column-rule-width:2px;
	 column-rule-color:#CCCCCC;
	 column-rule-style:dashed;
	  }